---
layout: default
---
<div class="home">

  <section class="section-block section-block-bold">
    <div class="section-block-content wrapper">
      <h2 class="section-block-title">November&nbsp;9&#8209;11&nbsp;2017<br>
      <h3>A celebration of functional programming and community</h3>
      <h4>At the beautiful <a href="http://www.monorchid.com/venue">monOrchid</a>, Phoenix,&nbsp;Arizona.</h4>
    </div>
  </section>
  {% include about.html %}
	<article class="section-block section-block-bold cta stars">
	    <h1>Moonconf needs your help</h1>
	    <p>If you're interested in supporting Moonconf, take a moment to read the  <a href="/sponsorship-prospectus/">Sponsorship Prospectus!</a></p>
	    <p>You can also support us on our crowdfunder, at <a href="https://www.indiegogo.com/projects/moonconf-functional-programming-and-community-technology--2#/">indiegogo</a>.<p>
	    {% include stars.html %}
	</article>
  {% include structure.html %}
  {% include coc.html %}
  {% include location.html %}
  {% include accessibility.html %}
  {% include organizers.html %}
  {% include sponsors.html %}
  <!-- TODO Maybe: include talks.html --> 
</div>
