---
layout: default
---
<div class="home">

  <section class="section-block section-block-bold">
    <div class="section-block-content wrapper">
      <h2 class="section-block-title">Phoenix, November 2017</h2>
      <h3>A celebration of functional programming and community<br>More info coming in June.</h3>
    </div>
  </section>
  {% include about.html %}
  {% include structure.html %}
  {% include coc.html %}
  {% include accessibility.html %}
  <!-- TODO: include location.html -->
  {% include organizers.html %}
  {% include sponsors.html %}
  {% include talks.html %}
</div>
