<section class="section-block">
  <section class="section-block-content wrapper">
  <p>Moonconf is a three-day conference for the functional programming community to learn and celebrate together. There will be single-track talks on Thursday and Friday and an all-day openspace unconference on Saturday.</p> 
  <p>Moonconf was <a href="http://moonconf.org/2016">born in 2016</a>, to provide a welcoming and inclusive space for the diverse world of functional programming. In that way, it's special, and you won't find an environment quite like it anywhere else. It's for everyone, from beginners to experts, of any gender, race, ability, etc. Functional programmers of all levels are welcome!</p>
  <p>It's a conference offered with love, and we'd love to see you there.</p>
    <!-- TODO: include ticket-cta.html -->
  </section>
</section>
