<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Speakers & Format</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <img src="/assets/img/sun.png" alt="Close up image of the sun.">
    <h3>Speakers!</h3>
    <p>Day one will be a full day of awesome talks, ranging from beginner-friendly to mind-blowing.</p>
    <h3>Unconf</h3>
    <p>Day two will be openspace format. Talk about and work on what you're most excited about!</p>
    <blockquote cite="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=unconference">
      <strong>un·con·fer·ence</strong>
      <em>/ˈənkänf(ə)rəns/</em><br>
      a loosely structured conference emphasizing the informal exchange of information and ideas between participants, rather than following a conventionally structured program of events.
    </blockquote>
    <p>We'll start the day with selecting the day's sessions as a group. Then folks will break off to learn more about what excites us.</p>
  </div>
  <section class="section-block-content wrapper">
    <div class="cta stars">
      <h2>Get Updates</h2>
      <p>Get notified with general updates about dates, speakers, venue, etc.</p>
      <form action="https://tinyletter.com/moonconf" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/moonconf', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <label for="tlemail">Email Address:</label>
        <input type="text" name="email" id="tlemail" />
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Sign up" />
      </form>
      {% include stars.html %}
    </div>
  </section>
</section>
