<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Accessiblity</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <p>Our venues are ADA compliant, <strong>accessible for the mobility impaired</strong>.</p>
    <p>Please let us know if you require other accomodation. <strong>We intend to be accessible to everyone who wants to come.</strong> Twitter DMs are open, or email jason@moonconf.org</p>
  </div>
</section>
