<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Code of Welcoming Conduct</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <p>We are coming together, in everything we do, with an intent to care for ourselves and one another. We want to nurture an empathetic culture. This "code of conduct" is the structure for our work together, the foundation. To us, a code of conduct is a affirmation that we are responsible, together, for maintaining this culture, and it's a clear statement that we will take action to protect it, including limiting who we invite into (and exclude from) our spaces.</p>
    <p>Please read the full <a href="http://maitria.com/coc">Code of Conduct.</a></p>
  </div>
</section>
