<section class="glow">
  <div class="ring-1">
    <div class="ring-2">
      <div class="ring-3">
        <div class="ring-4">
          <div class="ring-5">
            <div class="ring-6">
              <div class="ring-7">
                <div class="ring-8">
                  <div class="ring-9">
                    <div class="ring-10">
                      <div class="ring-11"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
