<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Location  – Boulder, CO</h2>
    </div>
  </header>
  <div id="map"></div>
  <div class="section-block-content wrapper map-key">
    <div class="key">
      <img class="key-img" img src="/assets/img/full-moon.png">
      <p class="key-body"><strong class="key-address">1535 Spruce St, Boulder, CO 80302</strong><a href="http://www.etown.org/etown-hall/">eTown Hall</a>, a block from the Pearl Street pedestrian mall, will be our venue for talks on Thursday and Friday.</p>
    </div>
    <div class="key">
      <img class="key-img key-half" src="/assets/img/half-moon.png">
      <p class="key-body"><strong class="key-address">2115 13th St, Boulder, CO 80302</strong>Saturday, we will be at the tip of the mall <a href="http://www.galvanize.com/campuses/boulder-west-pearl/">Galvanize</a>, for a hands-on day of openspace and workshops!</p>
    </div>
    <div class="key">
      <img class="key-img" src="/assets/img/new-moon.png">
      <p class="key-body"><strong class="key-address">5th Floor, 1035 Pearl St, Boulder, CO 80302</strong>The lovely historical <a href="http://www.boulderado.com/">HotelBoulderado</a> is nearby, and attendees will receive a discount code.</p>
  </div>
</section>
