<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Location  – Boulder, CO</h2>
    </div>
  </header>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11hzGp6RyKtGnozJXe2O6FhO20mA" width=100% height=500px frameborder="0" style="border:0"></iframe>
  <div class="section-block-content wrapper map">
    <p><img src="/assets/img/lightning-bolt.png"><a href="http://www.etown.org/etown-hall/">eTown Hall</a>, a block from the Pearl Street pedestrian mall, will be our venue for talks on Thursday and Friday.</p>
    <p><img src="/assets/img/orange-star.png">Saturday, we will be at the tip of the mall <a href="http://www.galvanize.com/campuses/boulder-west-pearl/">Galvanize</a>, for a hands-on day of openspace and workshops!</p>
    <p><img src="/assets/img/housey.png">The lovely historical <a href="http://www.boulderado.com/">HotelBoulderado</a> is nearby, and attendees will receive a discount code.</p>
  </div>
</section>
