<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Location  – Boulder, CO</h2>
    </div>
  </header>
  <div id="map"></div>
  <div class="section-block-content wrapper map-key">
    <div class="key">
      <img class="key-img" img src="/assets/img/full-moon.png">
      <p class="key-body"><strong class="key-address"><a href="http://www.etown.org/etown-hall/">eTown Hall</a> 1535 Spruce St, Boulder, CO 80302</strong>A block from the Pearl Street pedestrian mall, eTown will be our venue for talks on Thursday and Friday.</p>
    </div>
    <div class="key">
      <img class="key-img key-half" src="/assets/img/half-moon.png">
      <p class="key-body"><strong class="key-address"><a href="http://www.galvanize.com/campuses/boulder-west-pearl/">Galvanize</a> 1035 Pearl St, Boulder, CO 80302</strong>Saturday, we will be at the tip of the mall at Galvanize, for a hands-on day of openspace and workshops!</p>
    </div>
    <div class="key">
      <img class="key-img" src="/assets/img/new-moon.png">
      <p class="key-body"><strong class="key-address"><a href="http://www.boulderado.com/">Hotel Boulderado</a> 2115 13th St, Boulder, CO 80302</strong>It's a busy weekend, so reserve early. Call 303.442.4344 and give them &quot;rate code&quot; SP2016. (Code doesn't work online.)</p>
  </div>
</section>
