<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Organizers</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <article class="person">
      <div class="person-image-container">
        <img src="/assets/img/aaron.jpg" alt="" class="person-avatar">
      </div>
      <a href="https://twitter.com/aaronagray" class="person-twitter">@aaronagray</a>
    </article>
    <article class="person">
      <div class="person-image-container">
        <img src="/assets/img/alex.jpg" alt="" class="person-avatar">
      </div>
      <a href="https://twitter.com/onealexharms" class="person-twitter">@onealexharms</a>
    </article>
    <article class="person">
      <div class="person-image-container">
        <img src="/assets/img/amar.jpeg" alt="" class="person-avatar">
      </div>
      <a href="https://twitter.com/amar47shah" class="person-twitter">@amar47shah</a>
    </article>
    <article class="person">
      <div class="person-image-container">
        <img src="/assets/img/jason.jpg" alt="" class="person-avatar">
      </div>
      <a href="https://twitter.com/eraserhd" class="person-twitter">@eraserhd</a>
    </article>
    <article class="person">
      <div class="person-image-container">
        <img src="/assets/img/kerri.jpeg" alt="" class="person-avatar">
      </div>
      <a href="https://twitter.com/kerrizor" class="person-twitter">@kerrizor</a>
    </article>
    <article class="person">
      <div class="person-image-container">
        <img src="/assets/img/miql.jpg" alt="" class="person-avatar">
      </div>
      <a href="https://twitter.com/miql" class="person-twitter">@miql</a>
    </article>
  </div>
</section>
