<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h4 class="section-block-title">Conference Schedule</h2>
    </div>
  </header> 
  <div class="section-block-content wrapper">
    <h5>Thursday, May 26</h5>
    <p>09:00 Doors Open</p>
    <p>09:30 ten-minute meditation</p>
    <p>09:45 Opening Remarks</p>
    <p>10:00 <a href="/#well-actually">"Well, Actually..."</a></p>
    <p>10:30 <a href="/#hacking-web-apps">Hacking Web Apps with Clojure(Script) @ Code for Denver</a></p>
    <p>11:00 Break & conversations</p>
    <p>11:30 <a href="/#architecture-front-end">Architecture, Front End and a Bit of Front-End Architecture</a></p>
    <p>12:00 <a href="/#tulip">Tulip: A Well-Balanced Language</a></p>
    <p>12:30 Lunch</p>
    <p>02:00 <a href="/#its-complicated">It's Complicated: Codes of Conduct and Inclusive Community Building</a></p>
    <p>02:30 <a href="/#get-swifty">Get Swifty 3 Electric Bugaloo or: Intro to Functional Programming with Swift</a></p>
    <p>03:00 Break & conversations</p>
    <p>03:30 <a href="/#j">The J Programming Lanugage: Consistency, Adjacency, and Solution-Oriented Programming</a></p>
    <p>04:00 <a href="/#zombie-pocalypse">Zombie-pocalypse: Epidemic Gossip in Haskell</a></p>
    <p>04:30 Break & conversations</p>
    <p>05:00 <a href="/#program-derivation">Program Derivation for Functional Programs</a></p>
    <p>05:30 <a href="/#planet-9">Planet 9 from Outer Space, and Other Things Found in Big(ger) Data</a></p>
    <p>7:00 - 9:00 <a href="party">Party at Galvanize</a> with Games & Ice Cream</p>
    <h5>Friday, May 27</h5>
    <p>09:00 Doors Open</p>
    <p>09:30 ten-minute meditation</p>
    <p>09:45 Morning Remarks</p>
    <p>10:00 <a href="/#safe-environments">Safe, Human Environments are Major :key:</a></p>
    <p>10:30 <a href"/#embarking-with-elm">Embarking with Elm</a></p>
    <p>11:00 Break & conversations</p>
    <p>11:30 <a href="/#correctness-methods">Fetching Moths from the Works: Correctness Methods in Software</a></p>
    <p>12:00 <a href="/#recursion-where-functional-hits-bottom">Recursion: Where Functional Programming Hits Bottom</a></p>
    <p>12:30 Lunch</p>
    <p>02:00 <a href="/#point-free-or-die">Point-Free or Die: Tacit Programming in Haskell and Beyond</a></p>
    <p>02:30 <a href="/#session-types">Session Types for Me and You and Everyone We Know!</a></p>
    <p>03:00 Break & conversations</p>
    <p>03:30 <a href="/#negotiating-salary">Negotiating Salary for Women in Tech</a></p>
    <p>04:00 <a href="/#bracer-coproducts">Bracer: Transforming Real-World Languages with Coproducts and Recursion Schemes</a></p>
    <p>04:30 Break & conversations</p>
    <p>05:00 <a href="/#lightning-talks">Openspace Session Proposals: Lightning Talks</a></p>
    <h5>Saturday, May 28</h5>
    <h6>Openspace unconference: Hacking, learning, diving deeper</h6>
    <p>We'll build the schedule ourselves in the first session. Follow your bliss! Find other folks who are excited about what you're excited about. Up to four tracks (depending on what we decide).</p>
    <p>09:00 Doors Open</p>
    <p>09:30 ten-minute meditation</p>
    <p>09:45 Opening Session - we'll plan the rest of the day</p>
    <p>10:45 Choice of session topics</p>
    <p>11:45 Lunch (on your own)
    <p>01:15 Choice of session topics</p>
    <p>02:15 Choice of session topics</p>
    <p>03:15 break</p>
    <p>03:30 Choice of session topics</p>
    <p>04:30 Choice of session topics</p>
    <p>05:30 Closing Circle</p>
  </div>
</section>
