<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h4 class="section-block-title">Conference Schedule</h2>
    </div>
  </header> 
  <div class="section-block-content wrapper">
    <h5>Thursday, May 26</h5>
    <h5>Friday, May 27</h5>
    <h5>Saturday, May 28</h5>
    <h6>Openspace unconference</h6>
    <p>09:00 Doors Open</p>
    <p>09:45 Opening Session - we'll plan the rest of the day</p>
    <p>10:45 Choice of session topics</p>
    <p>11:45 Lunch (on your own)
    <p>01:15 Choice of session topics</p>
    <p>02:15 Choice of session topics</p>
    <p>03:15 break</p>
    <p>03:30 Choice of session topics</p>
    <p>04:30 Choice of session topics</p>
    <p>05:30 Closing Circle</p>
    <h6>Parallel Beginner's Sessions</h6>
    <p>Full schedule to be announced. We're working on it.</p>
  </div>
</section>
