<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h4 class="section-block-title">Conference Schedule</h2>
    </div>
  </header> 
  <div class="section-block-content wrapper">
    <h5>Thursday, May 26</h5>
    <p>09:00 Doors Open</p>
    <p>09:10 Morning meditation (20 minutes)</p>
    <p>09:45 Opening Remarks</p>
    <p>10:00 <a href="/#well-actually">"Well, Actually"</a></p>
    <p>10:30 <a href="/#hacking-web-apps">"Hacking Web Apps with Clojure(Script)"</a></p>
    <p>11:00 Break & conversations</p>
    <p>11:30 <a href="/#session-types">Session Types</a></p>
    <p>12:00 <a href="/#tulip">Tulip</a></p>
    <p>12:30 Lunch</p>
    <p>02:00 <a href="/#its-complicated">It's Complicated</a></p>
    <p>02:30 <a href="/#get-swifty">Get Swifty</a></p>
    <p>03:00 Break & conversations</p>
    <p>03:30 <a href="/#developer-mathematician">Being a Mathematician</a></p>
    <p>04:00 <a href="/#zombie-pocalypse">Gossip in Haskell</a></p>
    <p>04:30 Break & conversations</p>
    <p>05:00 <a href="/#program-derivation">Program Derivation</a></p>
    <p>05:30 <a href="/#planet-9">Planet 9 from Outer Space</a></p>
    <h5>Friday, May 27</h5>
    <p>09:00 Doors Open</p>
    <p>09:10 Morning meditation (20 minutes)</p>
    <p>09:45 Morning Remarks</p>
    <p>10:00 <a href="/#safe-environments">Safe, Human Environments</a></p>
    <p>10:30 <a href"/#embarking-with-elm">Embarking with Elm</a></p>
    <p>11:00 Break & conversations</p>
    <p>11:30 <a href="/#correctness-methods">Correctness Methods</a></p>
    <p>12:00 <a href="/#recursion-where-functional-hits-bottom">Recursion</a></p>
    <p>12:30 Lunch</p>
    <p>02:00 (to be announced)</p>
    <p>02:30 <a href="/#architecture-front-end">Architecture &amp; Real-time Control Structures</a></p>
    <p>03:00 Break & conversations</p>
    <p>03:30 <a href="/#negotiating-salary">Negotiating Salary</a></p>
    <p>04:00 <a href="/#bracer-coproducts">Bracer: Coproducts &amp; Recursion Schemes</a></p>
    <p>04:30 Break & conversations</p>
    <p>05:00 <a href="/#point-free-or-die">Tacit Programming in Haskell &amp; Beyond</a></p>
    <p>05:30 (to be announced)</p>
    <h5>Saturday, May 28</h5>
    <h6>Openspace unconference</h6>
    <p>09:00 Doors Open</p>
    <p>09:10 Morning meditation (20 minutes)</p>
    <p>09:45 Opening Session - we'll plan the rest of the day</p>
    <p>10:45 Choice of session topics</p>
    <p>11:45 Lunch (on your own)
    <p>01:15 Choice of session topics</p>
    <p>02:15 Choice of session topics</p>
    <p>03:15 break</p>
    <p>03:30 Choice of session topics</p>
    <p>04:30 Choice of session topics</p>
    <p>05:30 Closing Circle</p>
    <h6>Parallel Beginner's Sessions</h6>
    <p>Full schedule to be announced. We're working on it.</p>
  </div>
</section>
