<section class="section-block">
    <header class="section-block-header">
        <div class="wrapper">
            <h2 class="section-block-title">Sponsors</h2>
        </div>
    </header>
        <article class="section-block section-block-bold cta stars">
            <h1>Become a Sponsor</h2>
            <p>If you're interested in supporting Moonconf, take a moment to read the  <a href="/sponsorship-prospectus/">Sponsorship Prospectus!</a></p>
            <p>Thanks to everyone who supported our <a href="https://www.indiegogo.com/projects/moonconf-functional-programming-and-community-technology--2#/">indiegogo</a>!<p>
            {% include stars.html %}
        </article>
    <div class="section-block-content wrapper sponsors">
        <h3 class="sponsor-section-title">Gold</h3>
        <article class = "sponsor-gold">
          <div class = "sponsor-bio-gold">
            <p>Will you be our first gold sponsor?</p>
          </div>
        </article>
        <h3 class="sponsor-section-title">Silver</h3>
        <article class = "sponsor-silver">
          <div class = "sponsor-bio-silver">
            <p>(Your logo goes here)</p>
          </div>
        </article>
        <h3 class="sponsor-section-title">Bronze &amp; Community Sponsors</h3>
        <article class="sponsor-bronze">
            <center>
                <img src="/assets/img/carbonfive.png" alt="Carbon 5 Logo">
            </center>
            <div class="sponsor-bio-bronze">
                <p>Carbon Five is a strategic digital product development firm. We partner with clients to create exceptional products and grow effective teams.</p>

<p>Our developers, designers, and product managers have worked with clients at every stage of their journey: from early stage startups to growth and enterprise companies such as Echosign, Square, Thumbtack, StitchFix, Altschool, Google, Hulu, Gap, and many others.</p>

<p>Learn more about the innovative projects we helped make a reality: <a href="https://www.carbonfive.com/">www.carbonfive.com</a></p>
            </div>
        </article>
        <article class="sponsor-bronze">
            <a href="https://positiondev.com"><img src="/assets/img/position_development_logo.png" alt="Position Development Logo"></a>
            <div class="sponsor-bio-bronze">
              <p>Position Development is a worker-run software development company, with a focus on independent media, cultural institutions and socially minded organizations. We're dedicated to building quality software to help expand the breadth of discourse, culture, and thought available to English-speaking audiences.</p><p>We're also proud to be the team behind Wayland, a magazine subscription and fulfillment platform used by Jacobin Magazine and other publications, which is built in Haskell.</p>
              <p><a href="http://positiondev.com">positiondev.com</a></p>
            </div>
        </article>
        <article class="sponsor-bronze">
            <center>
                <img src="/assets/img/maitria.png" alt="Maitria Logo">
            </center>
            <div class="sponsor-bio-bronze">
                <p>Making the world a little gentler for developers &amp; tech teams.</p>
                <p>In addition to technical and communication coaching for effective dev teams, Maitra offers resources for devs, including <a href="http://empathetictechnicalleader.com">The Little Guide to Empathetic Technical Leadership</a>, and workshops for growing in empathetic leadership. We also host the conversational <a href="http://maitria.com/podcast">Geek Joy Podcast</a>.</p>
            </div>
        </article>
        <article class="sponsor-bronze">
          <h2>Sonja Gupta</h2>
          <p>A special thanks to Sonja Gupta, who sponsored us just because she cares.</p>
        </article>
        <article class = "sponsor-bronze">
          <h2>Hannah Howard</h2>
            <p>Community sponsor Hanna Howard set up our Indiegogo, in addition to contributing herself. Thank you, Hannah!</p>
        </article>
        <article class = "sponsor-bronze">
          <h2>David Koontz</h2>
          <p>A big thank you go David Koontz, for the generous donation!</p>
        </article>
        <h3 class = "sponsor-section-title">Community contributors</h3>
        <article class = "sponsor-bronze">
          <p>Judson Darr Lester<br/>
          Garrett Dawson <br>
          Jordan Danford<br>
          wilkie05<br>
          tablesaw<br>
          iain<br>
          Jeremy Flores</p>
        </article>
        <article class = "sponsor-bronze">
          <p>Christian Haselbach<br>
          Peter Jones<br>
          Seth Tisue<br>
          Evan Dorn<br>
          Arthur Gold<br>
          Michael Bunting<br>
          Michael S. Daines<br>
          anonymous &lt;3</p>
        </article>
        <article class = "sponsor-bronze">
          <p>noah.collins<br>
          win cuthbert<br>
          Joseph Junker<br>
          Geoffrey Thomas<br>
          R Pak<br>
          Andrew Hao<br>
          richard.schneeman</p>
        </article>  






        <article class="section-block section-block-bold cta stars">
            <h2>Become a Sponsor</h2>
            <p>If you're interested in supporting Moonconf, take a moment to read the  <a href="/sponsorship-prospectus/">Sponsorship Prospectus!</a></p>
            <p>A big thank you to everyone who supported our <a href="https://www.indiegogo.com/projects/moonconf-functional-programming-and-community-technology--2#/">indiegogo</a>!<p>
            {% include stars.html %}
        </article>
    </div>
</section>
