<section class="section-block">
    <header class="section-block-header">
        <div class="wrapper">
            <h2 class="section-block-title">Our Sponsors</h2>
        </div>
    </header>
    <div class="section-block-content wrapper sponsors">
        <h3 class="sponsor-section-title">Gold</h3>
        <article class="sponsor">
            <center>
                <img src="/assets/img/comcast_logo.png" alt="Comcast Logo">
            </center>
            <div class="sponsor-bio">
                <p>Comcast Cable is one of the nation's largest video, high-speed Internet and phone providers to residential customers under the XFINITY brand and also provides these services to businesses. Comcast has invested in technology to build an advanced network that delivers among the fastest broadband speeds, and brings customers personalized video, communications and home management offerings.  Comcast Corporation (Nasdaq: CMCSA) is a global media and technology company.  Visit
                <a href="http://www.comcastcorporation.com" _target="_blank">http://www.comcastcorporation.com</a> for more information.</p>
            </div>
        </article>
        <h3 class="sponsor-section-title">Silver</h3>
        <h3 class="sponsor-section-title">Bronze</h3>
        <article class="sponsor">
            <img src="http://maitria.com/assets/header-logo.png" alt="Maitria Logo">
            <div class="sponsor-bio">
                <p>Making the world a little gentler for developers & tech teams. Geek joy, mindful code and mindful human connection. @onealexharms @eraserhd @kaleidic.</p>
            </div>
        </article>
        <article class="sponsor">
            <img src="https://www.papercall.io/assets/logo-papercall.svg" alt="Papercall Logo">
            <div class="sponsor-bio">
                <p>PaperCall enables event organizers to easily manage their call for papers and talk submissions, without relying on tools such as Google Forms, WuFoo Forms, and other less than perfect systems.</p>
            </div>
        </article>
        <article class="sponsor">
            <a href="https://www.pobox.com"><img src="/assets/img/pobox_logo.png" alt="Pobox Logo"></a>
            <div class="sponsor-bio">
                <p>Pobox provides email services that you'll love, whether you're one person or organization of thousands.  There's no lock-in, no ads, and no algorithms trying to uncover your secret desires — unless your secret desire is to get helpful, human customer support. Pobox is for people who love email, by people who love email.</p>
            </div>
        </article>
        <article class="sponsor">
            <center>
                <a href="https://polycount.com"><img src="/assets/img/polycount_logo.png" alt="Polycount Logo"></a>
            </center>
            <div class="sponsor-bio">
                <p>Polycount is one of the oldest resources on the internet for video game artists. The community is well known in the industry for its competitions, critiques, advice, and experienced veterans. Given our age we're fortunate to have polycounters working in most game studios, large and small, with our logo often being an easter egg in their games.</p>
            </div>
        </article>
        <article class="sponsor">
            <a href="https://positiondev.com"><img src="/assets/img/position_development_logo.png" alt="Position Development Logo"></a>
            <div class="sponsor-bio">
                <p>Position Development is a worker-run software development company, with a focus on independent media, cultural institutions and socially minded organizations. We're dedicated to building quality software to help expand the breadth of discourse, culture, and thought available to English-speaking audiences.</p><p>We're also proud to be the team behind Wayland, a magazine subscription and fulfillment platform used by Jacobin Magazine and other publications, which is built in Haskell.</p>
            </div>
        </article>
        <article class="section-block section-block-bold cta stars">
            <h2>Become a Sponsor</h2>
            <p>If you're interested in supporting Moonconf, take a moment to read the  <a href="/sponsorship-prospectus/">Sponsorship Prospectus!</a></p>
            {% include stars.html %}
        </article>
    </div>
</section>
