<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Three full days</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <h3>Talks & Talks</h3>
    <p>Thursday &amp; Friday will get your brain buzzing with talks about functional programming and community. <a href="/2016/schedule.html">See last year's schedule here</a>.</p> 
    <h3>Hands-on Openspace</h3>
    <p>Day 3, Saturday will be an opportunity to <strong>explore the topics more deeply</strong>. We'll start our <a href="https://en.wikipedia.org/wiki/Open_Space_Technology">openspace</a> with a facilitated opening session, in which we decide together how we will spend or time. The rest of the day will be full of pairing sessions, lighting talks, hackathons, whatever you need to get the most out of what you're learning.</p>
    <h3>Beginner Workshops</h3>
    <p>Also on Saturday, parallel with the openspace, we'll have beginner workshops running all day. Anyone with coding experience is welcome.</p>
  {% include schedule-call-to-action.html %}
  </div>
</section>
