<section class="section-block talks stars">
  <div class="section-block-content wrapper">
    <h2>Talks and Talks</h2>
    {% include talk.html
      title='"Well, Actually"'
      speaker="Alex Harms"
      description="<p>Functional programmers have a reputation for being hard to work with. Ever wondered why? Every interaction is full of choices. Find out which tend to push people away, and which can help people enjoy their interactions. And learn how to tell the difference, even in the heat of the moment.</p>"
      twitter="onealexharms"
    %}
    {% include talk-hidden.html %}
    {% include talk-hidden.html %}
    {% include talk.html
      title='Hacking Web Apps with Clojure(Script) @ Code for Denver'
      speaker="Shelby Switzer"
      co-speaker="David A. Viramontes"
      co-twitter="dviramontes_"
      description="<p>In this talk we will cover how to build web apps in Clojure and ClojureScript, from RESTful API design and implementation to methods and tools for creating great UIs. We will use code examples and stories from open-source projects at Code for Denver.</p>"
      twitter="switzerly"
    %}
    {% include talk-hidden.html %}
    {% include talk.html
      title='Get Swifty 2 Electric Bugaloo or: Intro to Functional Programming with Swift'
      speaker="Basel Farag"
      description="<p>In Chris Eidhof and Airspeed Velocity's 'Advanced Swift' they remind us of Erik Meijer's tweet re: Swift 'At this point, @SwiftLsng is probably a better, and more valuable vehicle for learning Functional Programming than Haskell.' That may be a bit of a stretch with recent changes made to Swift--but it's not entirely without basis. In this talk I'd like to show how the language has landed itself to learning Functional Programming and why it's a great choice for those diving into FP for the first time. I'll also show how these specific components: generics, value types, protocols, closures fit in, and how one can approach Swift with the aim of learning FP for the first time.</p>"
      twitter="BaselNotBasil"
    %}
    {% include talk.html
      title="A Developer's Guide to Being a Mathematician"
      speaker="Talon Poole"
      description="<p>We will apply a single mathematical constraint on our programmatic minds and explore the implications. Suited for beginner functional programmers. Examples will be given using ES2015.</p>"
      twitter="legittalon"
    %}
    {% include talk.html
      title='Point Free or Die: Tacit Programming in Haskell and Beyond'
      speaker="Amar Shah"
      description="<p>Tacit programming, or programming in the “point-free” style, allows you to define a function without reference to some or all of its arguments. Let’s develop an intuition for point-free programming, probe its origins, and consider its trade-offs.</p>"
      twitter="amar47shah"
    %}
    {% include talk.html
      title='Program Derivation for Functional Programs'
      speaker="Felienne Hermans"
      description="<p>Despite what your boss thinks, programs don’t just appear straight out of specifications. But…what if they did?</p><p>In this session I will show you how to systematically and step-by-step derive a program from a specification. Functional languages especially are very suited to derive programs for, as they are close to the mathematical notation used for proofs.</p><p>You will be surprised to know that you already know and apply many techniques for derivation, like Introduce Parameter as supported by Resharper. Did you know that is actually program derivation technique called generalization?</p>"
      twitter="Felienne"
    %}
    {% include talk.html
      title='Planet 9 from Other Space, and other things found in Big(ger) Data'
      speaker="Dr. Pamela Gay"
      description="<p>Modern all sky surveys are enabling new kinds of discoveries by allowing statistical studies to trace out the locations of hidden planets, pressures, and exoplanets. The most exciting of these discoveries is Planet 9, a new world predicted by the orbits of icy Kuiper Belt Objects and defined by where it isn't in all-sky surveys. It follows on the heals of projects that map out invisible dark matter and describe Dark Energy's expansion of the universe.</p><p>This talk will look at how massive data collections have allowed us to detect these and other things that can't be seen, and how future data sets will make today's Big Data seem small.</p>"
      twitter="starstryder"
    %}
  </div>
</section>
