<section class="section-block section-scholarship">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Tickets</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <div class="scholarship-wrapper">
      <img class="scholarship-image" src="/assets/img/computer.png" alt="Girl looking at a picture planets on a computer.">
      <div class="scholarship-content">
        <p>Set your own ticket price. ($50 suggested) <a href="https://ti.to/moonconf/moonconf-2016">Get tickets here!</a></p>
        <p>Any profits will go to projects that support people of color in tech.</p>
      </div>
    </div>
  </div>
</section>
