<section class="section-block">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Openspace Unconference – May 28th</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <blockquote cite="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=unconference">
    <strong>un·con·fer·ence</strong>
    <em>/ˈənkänf(ə)rəns/</em><br>
    </blockquote>
    <h3>Dive Deeper</h3>
    <p>After two days of talks that get your brains buzzing, what better than to have a chance to <strong>explore the topics more deeply</strong>?</p>
    <p>Day 3 will be a full <a href="https://en.wikipedia.org/wiki/Open_Space_Technology">Open Space</a>. We'll begin with a facilitated opening session, in which we decide together how we will spend or time.</p>
    <p>The rest of the day will be full of pairing sessions, lighting talks, hackathons, whatever you need to get the most out of what you're learning.</p>
    <h3>Beginner Workshops</h3>
    <p>Parallel with the openspace, day 3 will also include beginner workshops. Anyone with coding experience is welcome.</p>
  </div>
</section>
