<section class="section-block unconf">
  <header class="section-block-header">
    <div class="wrapper">
      <h2 class="section-block-title">Unconf – May 28th</h2>
    </div>
  </header>
  <div class="section-block-content wrapper">
    <blockquote cite="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=unconference">
      <strong>un·con·fer·ence</strong>
      <em>/ˈənkänf(ə)rəns/</em><br>
      a loosely structured conference emphasizing the informal exchange of information and ideas between participants, rather than following a conventionally structured program of events.
    </blockquote>
    <p>
      We'll start this day by selecting sessions as a group. Folks will break off into self organized workshpos, lightning talks, activities, and hackathons.
    </p>
  </div>
</section>
