form {
  text-align: left;
  font-family: Orbitron;
  margin: 1em 0 1em 0;
}

input[type=text] {
  border: 1px solid $brand-color;
  line-height: 3;
  width: 100%;
  margin-bottom: 15px;
  display: block;
}

input[type="submit"] {
  font-family: Orbitron;
  padding: 10px 10px 8px 10px;
  background: white;
  border: thin solid $brand-color;
  color: $brand-color;
}
