.person {
  width: 33.33%;
  float: left;
  text-align: center;
  box-shadow: -1px 0px 0px 0px rgba(0,0,0,0.5);
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;

  @media (max-width: 560px) {
    width: 50%;
  }
  @media (max-width: 400px) {
    width: 100%;
  }
}

.person-image-container {
  max-width: 200px;
  max-height: 200px;
  border-radius: 100%;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
}

.person-twitter {
  color: #552166;
}
