.sponsors {
  text-align: center;
  font-size: 0; // for inline-block .sponsor elements. See https://css-tricks.com/fighting-the-space-between-inline-block-elements/
  p {
    font-size: $base-font-size;
  }
}

.sponsor-section-title {
  margin-bottom: $spacing-unit;
}

.sponsor {
  width: 50%;
  display: inline-block;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-bottom: $spacing-unit;
  vertical-align: bottom;

  @include media-query($on-palm) {
    width: 75%;
  }
}

.sponsor-bio {
  border-top: 1px solid black;
  padding-top: $spacing-unit;
}
