.talks {
  @include stars(200, 1500, 3000);
}

.talks-intro {
  margin-bottom: $spacing-unit * 2;
}

.talk {
  color: $text-color;
  margin-bottom: $spacing-unit * 2;
}

.talk:nth-last-of-type(odd) {
  border-left: 4px solid $brand-color-blue;
  padding-left: $spacing-unit / 2;
}

.talk:nth-last-of-type(even) {
  border-right: 4px solid $brand-color-blue;
  padding-right: $spacing-unit / 2;
  text-align: right;
}

.talk-header {
  border-bottom: 1px solid $brand-color;
  overflow: hidden;
  h3 {
    a:link {
      color: $brand-color;
    }
    a:visited {
      color: $brand-color;
    }
    a:hover {
      color: $brand-color-blue;
      transition: none;
      border-bottom: 0;
    }
    a:active {
      color: $brand-color-blue;
    }
  }
}

.talk-title {
  border-bottom: 0;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  max-width: 75%;

  @media (max-width: 400px) {
    max-width: 100%;
  }
}

.talk-speaker {
  a:link {
    color: $brand-color;
  }
  a:visited {
    color: $brand-color;
  }
  a:hover {
    transition: none;
    color: $brand-color-blue;
    border-bottom: 0;
  }
  a:active {
    color:$brand-color-blue;
  }
  font-size: $mid-font-size;
}

.talk p {
  font-size: $mid-font-size;
}

.talk-hidden {
  opacity: 0.4;
  .talk-header {
    border-bottom: 0;
  }
  .talk-title {
    background: $brand-color-blue;
    width: 75%;
    color: black;
    padding: 4px 30px 0 30px;
  }
  .talk-description {
    display: inline;
    background: $brand-color;
    color: $brand-color;
  }
}
